@use './../../utilities.scss' as u;

.pages-numbers{
    list-style-type: none;
    display: flex;
    gap: .5em;
    justify-content: center;
    padding: 0;
    margin: 0;
    .pages-item{
        background-color: u.$green;
        padding: .5em;
        color: u.$black;
        &:hover{
            cursor: pointer;
            background-color: u.$white;
            transition: .3s;
        }
    }
}