@use './../../utilities.scss' as u;

.container-search{
    text-align: center;
    display: flex;
    justify-content: center;
    #input-search{
        font-size: 1.2em;
        border: 2px solid u.$white;
        font-family: 'Oswald';
    }
    .button-search{
        font-family: 'Oswald';
        font-size: 1.2em;
        border: none;
        color: u.$black;
        background-color: u.$white;
        margin: 0 .2em 0 0;
        padding: .2em;
        &:hover{
            background-color: u.$green;
            cursor: pointer;
            transition: .3s;
        }
    }
    .button-add{
        padding: .2em;
        font-family: 'Oswald';
        font-size: 1.2em;
        text-decoration: none;
        color: u.$black;
        background-color: u.$white;
        &:hover{
            background-color: u.$green;
            cursor: pointer;
            transition: .3s;
        }
    }
}